@model BookWithReviews

<h1>@Model.Book.Title</h1>
<img src="@Model.Book.Fields.Cover.FirstOrDefault().GetStatiqPath()" />
<ul>
    @foreach (var rating in Model.Ratings)
    {
        <li>@rating.UserName (@rating.Rating)</li>
    }
</ul>