@model AuthorWithBooks
<div class="col-lg-6" data-aos="fade-up">
    <h3 class="resume-title">@Model.Author.FirstName @Model.Author.LastName</h3>
    <div class="resume-item pb-0">
        <h4>@Model.Author.Category</h4>
        <p><em>@Model.Author.Bio</em></p>
        <ul>
            <li>Portland par 127,Orlando, FL</li>
            <li>(123) 456-7891</li>
            <li>alice.barkley@example.com</li>
        </ul>
    </div>
</div>