<div class="top-row px-4">
    <h1 class="site-title"> <a href="/" class="text-reset text-decoration-none">Xperience Book Store</a></h1>
    <div class="links">
        <a href="@StatiqHelper.BookPath">Books</a>
        <a href="@StatiqHelper.AuthorPath">Authors</a>
    </div>
</div>