<header id="header">
<div class="d-flex flex-column">

    <div class="profile">
    <img src="assets/img/logo.png" alt="" class="img-fluid rounded-circle">
    <h1 class="text-light"><a href="index.html">Xperience!</a></h1>
    <div class="social-links mt-3 text-center">
        <a href="https://twitter.com/kentico" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="https://www.facebook.com/KenticoSoftware" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="https://www.linkedin.com/company/kenticosoftware/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
    </div>
    </div>

    <nav class="nav-menu">
    <ul>
        <li class="active"><a href="index.html"><i class="bx bx-home"></i> <span>Home</span></a></li>
        <li><a href="#authors"><i class="bx bx-user"></i> <span>Authors</span></a></li>
        <li><a href="#books"><i class="bx bx-book-content"></i> <span>Books</span></a></li>
        @*<li><a href="#portfolio"><i class="bx bx-file-blank"></i> Portfolio</a></li>*@
        @*<li><a href="#services"><i class="bx bx-server"></i> Services</a></li>*@
        <li><a href="#contact"><i class="bx bx-envelope"></i> Contact</a></li>

    </ul>
    </nav><!-- .nav-menu -->
    <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

</div>
</header>